.login {
    background: #f0f1f3;
    padding: 60px 10px;
}

.login form {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}
.login .form-head{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.157);
}
.login .form-body{
    padding: 30px 0px;
}
.login .form-body input {
    margin-bottom: 20px;
    border: none;
    background: rgba(245 247 250);
}
.login .form-body input.input-err{
    border: 1px solid red;
}
.login .form-body .d-flex{
    justify-content: end;
    padding: 15px 0px;
}
.login button:hover {
    background: #121214;
    color: #ffb11a;
}