body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  transition: .3s ease;
  text-decoration: none;
}
a:hover{
  color: #ffb11a;
  transition: .3s ease;
}
.text-bold{
  font-weight: bold;
}
.text-pr {
  color: #ffb11a;
}
.bg-pr{
  background: #ffb11a;
}
.trans{
  transition: all .3s ease;
}
.text-right{
  text-align: right;
}
.btn-pr-outline{
  border: 1px solid #ffb11a;
  color: #fff;
}